@model Project
@{
    this.ViewBag.Title = "Project";
}
<div class="row" ng-controller="project-item-ctrl" ng-init="init('@this.Model.Id')">
    <div class="col-md-3">
        <div class="box box-primary">
            <div class="box-body box-profile">
                <h3 class="profile-username text-center">@this.Model.Name</h3>
                <p class="text-muted text-center">@this.Model.CreateAt?.ToString("yyyy/MM/dd") by @this.Model.CreateBy?.Concrete(this.ViewBag.DB)</p>
                <ul class="list-group list-group-unbordered">
                    <li class="list-group-item">
                        <b>Headcount</b> <a class="pull-right">@this.Model.Headcount</a>
                    </li>
                    <li class="list-group-item">
                        <b>Candidates</b> <a class="pull-right" ng-bind="model.candidates.length"></a>
                    </li>
                </ul>
                <div>
                    <a class="btn btn-default btn-block" ng-click="update('@this.Model.Id')">Edit</a>
                </div>
            </div>
        </div>
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Actives</h3>
            </div>
            <div class="box-body">
                @foreach (var log in this.ViewBag.Logs) {
                    @Html.Raw(log)
                    <hr>
                }
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#details" data-toggle="tab" aria-expanded="true">Details</a></li>
                <li class=""><a href="#candidates" data-toggle="tab" aria-expanded="false">Candidates</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="details">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="box box-info">
                                <div class="box-header">Basic Information</div>
                                <div class="box-body no-padding">
                                    <table class="table table-striped table-details">
                                        <tr>
                                            <td>Name:</td>
                                            <td>@this.Model.Name</td>
                                        </tr>
                                        <tr>
                                            <td>Manager:</td>
                                            <td ng-bind="model.manager.name"></td>
                                        </tr>
                                        <tr>
                                            <td>Consultant:</td>
                                            <td>
                                                <span class="label label-info"
                                                      ng-repeat="item in model.consultants"
                                                      ng-bind="item.name"></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Headcount:</td>
                                            <td>@this.Model.Headcount</td>
                                        </tr>
                                        <tr>
                                            <td>Start Date:</td>
                                            <td>@this.Model.StartDate?.ToString("yyyy/MM/dd")</td>
                                        </tr>
                                        <tr>
                                            <td>Assignment Date:</td>
                                            <td>@this.Model.AssignmentDate?.ToString("yyyy/MM/dd")</td>
                                        </tr>
                                        <tr>
                                            <td>On Board Date:</td>
                                            <td>@this.Model.OnBoardDate?.ToString("yyyy/MM/dd")</td>
                                        </tr>
                                        <tr>
                                            <td>Functions:</td>
                                            <td>
                                                <span class="label label-info"
                                                      ng-repeat="node in model.functions"
                                                      ng-bind="node.name"></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Locations:</td>
                                            <td>
                                                <span class="label label-info"
                                                      ng-repeat="node in model.locations"
                                                      ng-bind="node.name"></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Notes:</td>
                                            <td>@this.Model.Notes</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="box box-info">
                                <div class="box-header">Client Information</div>
                                <div class="box-body">
                                    @{
                                        Company client = this.Model.Client.Concrete(this.ViewBag.DB);
                                    }
                                    <table class="table table-striped table-details">
                                        <tr>
                                            <td>Name:</td>
                                            <td><a href="/Company/@client.Id" target="_blank">@client.Name</a></td>
                                        </tr>
                                        <tr>
                                            <td>Industry:</td>
                                            <td>
                                                <span class="label label-info"
                                                      ng-repeat="node in model.client.industries"
                                                      ng-bind="node.name"></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Type:</td>
                                            <td>@client.Type.EnumDesc()</td>
                                        </tr>
                                        <tr>
                                            <td>Status:</td>
                                            <td>@client.Status.EnumDesc()</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box box-info">
                        <div class="box-header">Job Understanding</div>
                        <div class="box-body">
                            <table class="table table-striped">
                                <tr><td><label>Reporting Line:</label><p>@this.Model.JobUnderstanding?.Field1</p></td></tr>
                                <tr><td><label>Line manager’s background and style?</label><p>@this.Model.JobUnderstanding?.Field2</p></td></tr>
                                <tr><td><label>Subbordidate:</label><p>@this.Model.JobUnderstanding?.Field3</p></td></tr>
                                <tr><td><label>Package Range & Salary Sturcture:</label><p>@this.Model.JobUnderstanding?.Field4</p></td></tr>
                                <tr><td><label>Why this opening:</label><p>@this.Model.JobUnderstanding?.Field5</p></td></tr>
                                <tr><td><label>How many candidates have been interviewed? Why failed?</label><p>@this.Model.JobUnderstanding?.Field6</p></td></tr>
                                <tr><td><label>Key responsibilities:</label><p>@this.Model.JobUnderstanding?.Field7</p></td></tr>
                                <tr><td><label>Requirements / Top-3 skills needed:</label><p>@this.Model.JobUnderstanding?.Field8</p></td></tr>
                                <tr><td><label>Expectation/Key challenges:</label><p>@this.Model.JobUnderstanding?.Field9</p></td></tr>
                                <tr><td><label>Preferred company background:</label><p>@this.Model.JobUnderstanding?.Field10</p></td></tr>
                                <tr><td><label>Selling points:</label><p>@this.Model.JobUnderstanding?.Field11</p></td></tr>
                                <tr><td><label>Interview process:</label><p>@this.Model.JobUnderstanding?.Field12</p></td></tr>
                            </table>
                        </div>
                    </div>


                </div>
                <div class="tab-pane" id="candidates">
                    <rey-candidate-panel ng-if="model" ng-model="model">
                        <rey-candidate-status-panel>
                            <rey-candidate-status>All</rey-candidate-status>
                            <rey-candidate-status rey-badge-color="aqua" rey-status="1">Approching</rey-candidate-status>
                            <rey-candidate-status rey-badge-color="blue" rey-status="2">Approched</rey-candidate-status>
                            <rey-candidate-status rey-badge-color="blue" rey-status="3">Shortlisted</rey-candidate-status>
                            <rey-candidate-status rey-badge-color="purple" rey-status="4">Interviewed</rey-candidate-status>
                            <rey-candidate-status rey-badge-color="yellow" rey-status="5">Offering</rey-candidate-status>
                            <rey-candidate-status rey-badge-color="yellow" rey-status="6">Offer Accepted</rey-candidate-status>
                            <rey-candidate-status rey-badge-color="green" rey-status="7">On Board</rey-candidate-status>
                            <rey-candidate-status rey-badge-color="red" rey-status="9999">Failed</rey-candidate-status>
                        </rey-candidate-status-panel>
                        <rey-candidate-interview-panel></rey-candidate-interview-panel>
                        <rey-candidate-table></rey-candidate-table>
                    </rey-candidate-panel>
                    <button type="button" class="btn btn-success btn-block" ng-click="openCandidate(model)"><i class="fa fa-plus"></i> Select</button>
                </div>
            </div>
        </div>
    </div>
</div>
@section Head{
    <style>
        .table.table-details { }
            .table.table-details > tbody > tr > td:first-child { width: 160px; text-align: right; }
    </style>
}