@model IEnumerable<Company>
@{
    this.ViewBag.Title = "Company";
}

<div ng-controller="company-list-ctrl">
    <div class="filter-list well well-sm clearfix" ng-if="filter.hasItem">
        <div class="filter-category" ng-repeat="category in filter.categories" ng-if="category.hasItem">
            <span class="name">{{category.text}}:</span>
            <span class="values">
                <span class="label label-primary" ng-repeat="item in category.items">{{item.text}} <i class="fa fa-remove" ng-click="item.remove()"></i></span>
            </span>
            <span class="actions btn-group btn-group-xs">
                <button type="button" class="btn btn-danger btn-xs" ng-click="category.clearItems()"><i class="fa fa-trash"></i> Clear</button>
            </span>
        </div>
    </div>

    <div class="box">
        <div class="box-body no-padding">
            <div class="mailbox-controls">
                <rey-selector-all rey-selector="selector" rey-class="btn btn-default btn-sm">All</rey-selector-all>
                <div class="btn-group btn-group-sm">
                    <button type="button" class="btn btn-default" ng-click="create()"><i class="fa fa-plus"></i> Create</button>
                    <button type="button" class="btn btn-danger" ng-disabled="selector.items(true).length === 0" ng-click="batchDelete(selector.values(true))"><i class="fa fa-trash-o"></i> Delete</button>
                </div>
                <div class="btn-group btn-group-sm">
                    <button type="button" class="btn btn-default" ng-click="modal.import.open('/api/company')"><i class="fa fa-upload"></i> Import</button>
                    <button type="button" class="btn btn-default" ng-click="modal.export.open('/api/company')"><i class="fa fa-download"></i> Export</button>
                </div>
                <div class="btn-group btn-group-sm">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Order By {{order.current.text}} {{order.current.direction}} <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#" ng-click="order.by('Name')">Name </a></li>
                        <li><a href="#" ng-click="order.by('Industry')">Industry</a></li>
                        <li><a href="#" ng-click="order.by('Type')">Type</a></li>
                        <li><a href="#" ng-click="order.by('Status')">Status</a></li>
                    </ul>
                </div>
                <div class="box-tools pull-right">
                    <form class="input-group input-group-sm search-width" method="get" action="">
                        @Html.TextBox("search", null, new { @class = "form-control", placeholder = "Name" })
                        <div class="input-group-btn">
                            <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                            <button type="button" class="btn btn-default" data-toggle="control-sidebar"><i class="fa fa-filter"></i></button>
                        </div>
                    </form>
                </div>
            </div>
            <table class="table table-striped table-condensed">
                <thead>
                    <tr>
                        <th></th>
                        <th>Name</th>
                        <th>Industry</th>
                        <th>Type</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in this.Model) {
                        <tr>
                            <td width="40">
                                <rey-selector-item rey-selector="selector" rey-value="@item.Id"></rey-selector-item>
                            </td>
                            <td><a href="/Company/@item.Id">@item.Name</a></td>
                            <td>
                                @foreach (var item2 in item.Industries) {
                                    <span class="label label-info">@item2.Concrete(this.ViewBag.DB)?.Name</span>
                                }
                            </td>
                            <td>@item.Type.EnumDesc()</td>
                            <td>@item.Status.EnumDesc()</td>
                            <td width="130" align="right">
                                <div class="btn-group btn-group-xs">
                                    <button class="btn btn-default" ng-click="update('@item.Id')"><i class="fa fa-edit"></i> Edit</button>
                                    <button type="button" class="btn btn-danger" ng-click="delete('@item.Id')"><i class="fa fa-trash-o"></i> Delete</button>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="box-footer" style="padding:0 5px;">
            <pagination data="this.ViewBag.PageData" size="Small"></pagination>
        </div>
    </div>

    <rey-sidebar>
        <rey-filter-panel>
            <rey-filter-category rey-name="Name">
                <label>Name:</label>
                <form class="input-group" ng-submit="$category.item($value);$value=null;">
                    <input type="text" class="form-control" ng-model="$value">
                    <div class="input-group-btn">
                        <button type="submit" class="btn btn-default">Add</button>
                    </div>
                </form>
            </rey-filter-category>
            <rey-filter-category rey-name="Industry"
                                 rey-uri="/api/industry/"
                                 rey-structure="tree">
                <label>Industry:</label>
                <form class="input-group" ng-submit="$category.item($value.id, $value.name);$value=null;">
                    <rey-single-select rey-placeholder="Not Selected"
                                       rey-uri="/api/industry/"
                                       rey-tree
                                       ng-model="$value"></rey-single-select>
                    <div class="input-group-btn">
                        <button type="submit" class="btn btn-default">Add</button>
                    </div>
                </form>
            </rey-filter-category>
            <rey-filter-category rey-name="Type"
                                 rey-uri="/api/enum/companyType">
                <label>Type:</label>
                <form class="input-group" ng-submit="$category.item($value.value, $value.desc);$value=null;">
                    <rey-enum-select rey-default="Not Selected"
                                     rey-uri="/api/enum/companyType"
                                     rey-attr-name="desc"
                                     ng-model="$value"></rey-enum-select>
                    <div class="input-group-btn">
                        <button type="submit" class="btn btn-default">Add</button>
                    </div>
                </form>
            </rey-filter-category>
            <rey-filter-category rey-name="Status"
                                 rey-uri="/api/enum/companyStatus">
                <label>Status:</label>
                <form class="input-group" ng-submit="$category.item($value.value, $value.desc);$value=null;">
                    <rey-enum-select rey-default="Not Selected"
                                     rey-uri="/api/enum/companyStatus"
                                     rey-attr-name="desc"
                                     ng-model="$value"></rey-enum-select>
                    <div class="input-group-btn">
                        <button type="submit" class="btn btn-default">Add</button>
                    </div>
                </form>
            </rey-filter-category>
        </rey-filter-panel>
        <div class="btn-group btn-group-justified" style="position:absolute;bottom:0;left:0;right:0;">
            <a href="javascript:void(0);" class="btn btn-primary" ng-click="filter.get()">OK</a>
            <a href="javascript:void(0);" class="btn btn-default" data-toggle="control-sidebar">Cancel</a>
        </div>
    </rey-sidebar>
</div>