@model IEnumerable<User>
@{
    this.ViewBag.Title = "User";
}
<div ng-controller="user-list-ctrl">
    <div growl></div>
    <div class="box">
        <div class="box-body no-padding">
            <div class="mailbox-controls">
                <rey-selector-all rey-class="btn btn-default btn-sm">All</rey-selector-all>
                <div class="btn-group btn-group-sm">
                    <button type="button" class="btn btn-default" ng-click="create()"><i class="fa fa-plus"></i> Create</button>
                    <button type="button" class="btn btn-danger" ng-disabled="selector.data(true).length === 0" ng-click="batchDelete(selector.idList(true))"><i class="fa fa-trash-o"></i> Delete</button>
                </div>
                <div class="btn-group btn-group-sm">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Order By {{order.current.text}} {{order.current.direction}} <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#" ng-click="order.by('Name')">Name </a></li>
                        <li><a href="#" ng-click="order.by('CreateAt','Create At')">Create At</a></li>
                    </ul>
                </div>
                <div class="box-tools pull-right">
                    <form class="input-group input-group-sm search-width" method="get" action="">
                        @Html.TextBox("search", null, new { @class = "form-control", placeholder = "Name" })
                        <div class="input-group-btn">
                            <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                            <button type="button" class="btn btn-default" data-toggle="control-sidebar"><i class="fa fa-filter"></i></button>
                        </div>
                    </form>
                </div>
            </div>
            <table class="table table-striped">
                <tbody>
                    @foreach (var item in this.Model) {
                        <tr>
                            <td width="40">
                                <rey-selector-item rey-id="@item.Id"></rey-selector-item>
                            </td>
                            <td>@item.Name</td>
                            <td><a href="mailto:@item.Email">@item.Email</a></td>
                            <td width="70" align="center">
                                @if (item.Enabled) {
                                    <span class="label label-primary">Enabled</span>
                                } else {
                                    <span class="label label-default">Disabled</span>
                                }
                            </td>
                            <td width="130" align="right">
                                <div class="btn-group btn-group-xs">
                                    <button class="btn btn-default" ng-click="update('@item.Id')"><i class="fa fa-edit"></i> Edit</button>
                                    @if (!item.IsSuper) {
                                        <button type="button" class="btn btn-danger" ng-click="delete('@item.Id')"><i class="fa fa-trash-o"></i> Delete</button>
                                    }
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="box-footer" style="padding:0 5px;">
            <pagination data="this.ViewBag.PageData" size="Small"></pagination>
        </div>
    </div>
</div>